<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'one', pages_one_url, class: 'navbar-inverse' %>
    <%= link_to 'two', pages_two_url, class: 'navbar-inverse' %>
    <%= link_to 'three', pages_three_url, class: 'navbar-inverse' %>

    <%= yield %>
  </body>
</html>
